.article {
  max-width: 700px;
  padding: 0px 10px 30px;
  margin: 0 auto;
  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 50 / 34 * 100%;
    margin-bottom: 30px;
    @media (max-width: $md3+px) {
      font-size: 30px;
    }
  }
  &__info {
    display: flex;
    margin-bottom: 23px;
  }
  &__year {
    background: #ff7c7c;
    border-radius: 16px;
    height: 25px;
    padding: 0px 10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 60 / 18 * 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  &__category {
    align-self: center;
    margin-left: 25px;
    font-size: 20px;
    line-height: 25 / 20 * 100%;
    color: inherit;
    @media (max-width: $md3+px) {
      font-size: 18px;
    }
  }
  &__text {
    p {
      @extend .text;
    }
    img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}
